
<div class="" ng-controller="dashboard_controller">
	<nav class="navbar navbar-default navbar-custom" ng-if="currentUser.role=='doctor' || currentUser.role=='admin'">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/dashboard">Hello, {{currentUser.name}}</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><a href="#/dashboard">My Patients <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="#/add_doctors">Doctors</a></li>
					<li ng-if="currentUser.role=='admin'"><a href="#/logs">Logs</a></li>
					<li ><a href="#/notification">Notification <span class="badge" ng-if="currentUser.role=='doctor' && badgeSize > 0">{{badgeSize}}</span></a></li>

				</ul>
				<form class="navbar-form navbar-left" role="search">
					<!-- <div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
 -->
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	<div ng-if="currentUser.role=='admin' || currentUser.role=='doctor'">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				 Doctor's Information
			</div>
		</div>

	<div id="login" class="col-lg-4 " style="margin-top:40px;"  ng-if="currentUser.role=='admin'">
		<form role="form">
			<div class="form-group">
				<input type="text" class="form-control" id="email" placeholder = "Doctor Name" ng-model = "doctor.name">
			</div>
			<div class="form-group">
				<input type="number" class="form-control" id="pwd" placeholder = "Age" ng-model = "doctor.age">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Mobile" ng-model = "doctor.mobile">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Qualification" ng-model = "doctor.qualification">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Speciality" ng-model = "doctor.special">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Email" ng-model = "doctor.email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="pwd" placeholder = "Password" ng-model = "doctor.password">
			</div>
			<button type="submit" class="btn btn-default" ng-click="addDoctors()" >Add Doctor</button>

		</form>
	</div>

	<div id="login" class="col-lg-4 " style="margin-top:40px;">

		<div class="panel panel-default">
		<div class="panel-body text-center">List of Doctors
		<div class="searchStyle text-center">
		<form class="navbar-form navbar-left searchCenter" role="search" >
			 	<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="searchKeyword">
				</div>
		</form>
		</div>
			
		</div>
	</div>
	<div class="list-group">
			<a href="#" class="list-group-item disabled">
				List of Doctors
			</a>
			<a href="javascript:void(0)" class="list-group-item" ng-repeat="doc in ListofDoctors | filter:searchKeyword" ng-click="showDoctorInfo(doc)">Dr. {{doc.name}}</a>
			

		</div>
		
	</div>

	<div id="login" class="col-lg-4 " style="margin-top:40px;">

		<div class="panel panel-default">
		<div class="panel-body text-center">
			Details
		</div>
	</div>
		<form role="form" ng-if="showDocInfo">
			<div class="form-group">
				<input type="text" class="form-control" id="email" placeholder = "Doctor Name" ng-model = "docInfo.name">
			</div>
			<div class="form-group">
				<input type="number" class="form-control" id="pwd" placeholder = "Age" ng-model = "docInfo.age">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Mobile" ng-model = "docInfo.mobile">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Qualification" ng-model = "docInfo.qualification">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Speciality" ng-model = "docInfo.special">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="pwd" placeholder = "Email" ng-model = "docInfo.email">
			</div>
		
			
		</form>
	</div>
</div>

</div>

</div>