
<div class="" ng-controller="dashboard_controller" ng-init="loadLogs()">
	<nav class="navbar navbar-default navbar-custom" ng-if="currentUser.role=='doctor' || currentUser.role=='admin'">
		<div class="container-fluid">
			
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/dashboard">Hello</a>
			</div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><a href="#/dashboard">My Patients <span class="sr-only">(current)</span></a></li>
					<li><a href="#/add_doctors">Doctors</a></li>
					<li class="active" ng-if="currentUser.role=='admin'"><a href="#/logs">Logs</a></li>
					<li><a href="#/notification">Notification</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<!-- <div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
				-->
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>

			</ul>
		</div>
	</div>
</nav>
<div class="container">
<div ng-if="currentUser.role=='admin'">
	<div class="row">
		<div class="col-md-2">
			<p class="input-group">
				<input type="text" class="form-control" 
				uib-datepicker-popup ng-model="dt1" 
				is-open="popup1.opened" 
				min-date="minDate" 
				max-date="maxDate" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)" 
				ng-required="true" 
				close-text="Close" ng-change='checkErr(dt1,dt2)' my-date/>
				<span class="input-group-btn" >
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>

		<div class="col-md-2">
			<p class="input-group">
				<input type="text" class="form-control" 
				uib-datepicker-popup ng-model="dt2" 
				is-open="popup2.opened" 
				min-date="minDate" 
				max-date="maxDate" 
				datepicker-options="dateOptions" 
				date-disabled="disabled(date, mode)" 
				ng-required="true" 
				close-text="Close" ng-change='checkErr(dt1,dt2)'  my-date/>
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="col-md-2">
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="findLogs(dt1,dt2)" ng-disabled="disableSearchButton">Search </button>
				</span>
			</p>
		</div>
		<span>{{errMessage}}</span>
	</div>

		<div class = 'row'>
			<form class="navbar-form navbar-left searchCenter" role="search" >
			 	<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" ng-model="searchKeyword" 
					>
				</div>
			</form>
		</div>

	<div  class='row'>
		<table class="table bordered">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in logs | filter:searchKeyword">
        <td>{{i.email}}</td>
        <td>{{i.date}}</td>
        <td>{{i.message}}</td>
      </tr>
     </tbody>
  </table>

	</div>


</div>	

</div>

</div>

</div>